{% extends 'base.html.twig' %}

{% block body %}
    <!-- ======= Hero Section ======= -->

        {% include("hero/hero.html.twig") %}

    <!-- End Hero -->

    <main id="main">

        {% include("about/about.html.twig") %}

        <!-- ======= My Resume Section ======= -->

            {% include("resume/resume.html.twig") %}

        <!-- End My Resume Section -->

        <!-- ======= My Competence Section ======= -->
       
            {% include("competence/competence.html.twig") %}

        <!-- End My competences Section -->

        <!-- ======= Testimonials Section ======= -->

        <!-- End Testimonials Section -->

        <!-- ======= My Portfolio Section ======= -->

            {% include("portfolio/portfolio.html.twig") %}

        <!-- End My Portfolio Section -->

        <!-- ======= Tools Section ======= -->
       
            {% include("tool/tool.html.twig") %}

        <!-- End Tools Section -->

        <!-- ======= Contact Me Section ======= -->
        
            {% include("contact/contact.html.twig") %}

        <!-- End Contact Me Section -->

    </main>
    <!-- End #main -->

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <!--Waitbox-finish begin-->
    <script type="text/javascript">
        <!--
        setTimeout("ap_showWaitMessage('waitDiv', 0);",800)
        //-->
    </script>
    <!--Waitbox-finish end-->
{% endblock %}