{% block body%}
     <!-- ======= My Resume Section ======= -->
        <section id="resume" class="resume">
            <div class="container">

                <div class="section-title">
                    <span>Curriculum Vitae</span>
                    <h2>Curriculum Vitae</h2>
                    <p></p>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="resume-title">Formation</h3>
                        <div class="resume-item">
                            <h4>Titre RNCP niveau 6 (BAC+ 3/4) - Développeur d’application</h4>
                            <h5>2018 - 2020</h5>
                            <p><em>OpenClassroom, Paris</em></p>
                            <p>
                                Cette formation m'a permi d'aborder tous les sujets centraux me permettant de développer
                                une application de manière professionnelle et robuste. Depuis l’affichage de données
                                provenant de la base de données, la traduction de contenu, construire une API REST…
                            </p>
                        </div>
                        <div class="resume-item">
                            <h4>Licence Professionnelle (BAC+3) - Métiers de l'informatique</h4>
                            <h5>2016 - 2017</h5>
                            <p><em>Université de Limoges</em></p>
                            <p>
                                Ce parcours m'a préparé aux métiers du développement Web et d’applications mobiles
                                dans le cadre de la conduite de projets numériques.
                            </p>
                        </div>
                        <div class="resume-item">
                            <h4>DEUST Webmaster (BAC+2) - Webmaster & Métiers de l'Internet</h4>
                            <h5>2013 - 2016</h5>
                            <p><em>Université de Limoges</em></p>
                            <p>
                                Le DEUST Webmaster m'a permi d'acquérir les compétences nécessaires à la création et l'animation de sites web,
                                applications mobiles, intranet, extranet, plateformes 2.0 ainsi qu'à la communication par l'image.
                            </p>
                        </div>
                        <div class="collapse" id="collapseExample">
                         <div class="resume-item">
                            <h4>Certication Programmeur - Internet Webmaster - Développement</h4>
                            <h5>2012 - 2014</h5>
                            <p><em>CNFDI Brunoy</em></p>
                            <p>
                                Cette certification m'a ouvert les portes de la programmation web et m'a initié au métier de webmaster.
                            </p>
                        </div>
                        <!--<div class="collapse" id="collapseExample">-->
                         <div class="resume-item">
                            <h4>Administration et Maintenance Windows Server 2003</h4>
                            <h5>2009</h5>
                            <p><em>AIS Nantes</em></p>
                            <p>
                                Dans cette formation, j'ai acquis les notions fondamentales de l'installation, la configuration
                                et la gestion d'un serveur sous windows server 2003.
                            </p>
                        </div>
                        <div class="resume-item">
                            <h4>Administration Réseau CISCO CCNA</h4>
                            <h5>2009</h5>
                            <p><em>EGILIA Paris</em></p>
                            <p>
                                Au cours de cette formation, j'ai obtenu les bases nécessaires à l'installation, la configuration
                                et l'administration d'un réseau avec du matériel CISCO.
                            </p>
                        </div>
                        <div class="resume-item">
                            <h4>Baccalauréat STT ACC</h4>
                            <h5>2002</h5>
                            <p><em>Lycée Saint Jean-Baptiste de la Salle Lille</em></p>
                            <p>
                                Le baccalauréat Sciences et Techniques Tertiaires option Actions et Communications Commerciales,
                                m'a permi d'appréhender les principes du marketing et de l'économie. 
                            </p>
                        </div>
                        </div>
                </div>
                
                    <div class="col-lg-6">
                        <h3 class="resume-title">Expérience professionnelle</h3>
                        <div class="resume-item">
                            <h4>Informaticien / Développeur web</h4>
                            <h5>2009 - </h5>
                            <p><em>Escg Paris, Paris</em></p>
                            <p>
                            <h6>Développeur web</h6>
                            <ul>
                                <li>Un environnement numérique de travail</li>
                                <li>Mise en place des outils de télétravail et de cours en ligne</li>
                                <li>Une application de ressources documentaires basé sur Symfony "Marketdigidoc"</li>
                                <li>Un site Wordpress dédié à la 5ème année de spécialisation "Marketing Digital"</li>
                            </ul>
                            </p>
                            <p>
                            <h6>Informaticien</h6>
                            <ul>
                                <li>Cloud computing conguration et déploiement du domaine avec Google</li>
                                <li>Administration et Maintenance du réseau et du parc informatique</li>
                                <li>Déploiement réseau, installation, administration Windows Server 2008 et conguration VPN</li>
                                <li>Téléphonie VOIP installation, mise en service du déploiement avec Orange Business Service</li>
                                <li>Assistance aux utilisateurs dans l'usage quotidien des outils informatiques</li>
                                <li>Conception Réseau, Installation, Conguration</li>
                            </ul>
                            </p>
                        </div>
                        <div class="resume-item">
                            <h4>Gestionnaire du Parc Informatique / Collaborateur Commercial</h4>
                            <h5>2004 - 2009</h5>
                            <p><em>CEFPA Tillier, Lille</em></p>
                            <p>
                            <h6>Gestionnaire du Parc Informatique</h6>
                            <ul>
                                <li>Topologie et mise en place du réseau</li>
                                <li>Maintenance du parc informatique</li>
                                <li>Conception et Développement du site internet</li>
                            </ul>
                            </p>
                            <p>
                            <h6>Collaborateur Commercial</h6>
                            <ul>
                                <li>Prospection téléphonique</li>
                                <li>Conception et Développement du site internet</li>
                                <li>Analyse et identication des clients</li>
                                <li>Fidélisation de la clientèle</li>
                            </ul>
                            </p>
                        </div>
                        <div class="collapse" id="collapseExample">
                        <div class="resume-item">
                            <h4>Vendeur</h4>
                            <h5>2003 - 2004</h5>
                            <p><em>Bricomarché, Palaminy</em></p>
                            <p>
                            <ul>
                                <li>Vente</li>
                                <li>Découpe et vente du bois au détail</li>
                                <li>Gestion du service après vente</li>
                            </ul>
                            </p>
                        </div>
                        </div>
                    </div>
                    <br>
                    <div class="buttonCollapse">
                            <button id="more"
                                class="btn btn-primary" 
                                type="button" 
                                data-toggle="collapse" 
                                data-target="#collapseExample" 
                                aria-expanded="false" 
                                aria-controls="collapseExample">
                                En savoir plus
                            </button>
                    </div>
            </div>
            </div>
        </section>
        <!-- End My Resume Section -->
{% endblock %}