<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex justify-content-center align-items-center header-transparent header-scrolled">

    <nav class="nav-menu d-none d-lg-block">
        <ul>
            <li class="active"><a href="#header">Accueil</a></li>
            <li><a href="#about">A propos</a></li>
            <li><a href="#resume">Curriculum Vitae</a></li>
            <li><a href="#competences">Competences</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#contact">Contact</a></li>

        </ul>
    </nav>
    <!-- .nav-menu -->
    {#{% include 'language/language.html.twig' %}#}

</header>
<!-- End Header -->