<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <!-- META -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="robots" content="index, follow">
    <meta name="description" content="Developpeur Symfony. Développement d'application web">
    <meta name="keywords" content="developpeur,symfony,php,logiciel,web,solution">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/images/favicon.png') }}">
    {{ encore_entry_link_tags('app') }}
    <title>{% block title %}Jérôme Sauvage{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>